<!DOCTYPE html>
<style>
    body {
    background-color: rgb(12,75,51);
}


h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
}

p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
}
    a{
        color: aquamarine;
    }
</style>

<html>
    <head>
        <title>Bem Vindos!</title>
    </head>

    <body>
        <h1> Meta Bizu </h1>
        <p><a href="/login/" style="text-decoration:none">Login</a>  <br>  <a href="/register/" style="text-decoration:none">Cadastre-se aqui!</a></p>
    </body>
</html>
