<!DOCTYPE html>
<html>
    <head>
        <title>Search Tool</title>
        <style>
        body {
            background-color: rgb(12,75,51);
        }
        h1 {
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            text-align: center;
            color: white;
        }
        h2 {
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            text-align: center;
            color: white;
        }
        </style>
    </head>

    <body>
        <h1>O item não foi encontrado!</h1>
        <a href="add_review_itemPage.html" style="text-decoration:none"><h2>Para ser o primeiro a avaliar, clique aqui.</h2></a>
    </body>
</html>
