<!DOCTYPE html>
<html>
    <head>
        <title>Meta Bizu</title>
        <style>
        body {
            background-color: rgb(12,75,51);
        }


        h1 {
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            color: white;
        }

        h2 {
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            color: white;
        }

        h3 {
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            color: white;
        }
        </style>
    </head>

    <body>
        {% if item %}
        <h1>{{ item_name }}</h1>
            {% if opinions %}
            <ul>
                {% for op in opinions %}
                <li>
                    <h3>Nota: {{ op.rank }}</h3>
                    <h3>Descrição: {{ op.description }}</h3>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <strong><h3>No pages currently in category.</h3></strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
    </body>
</html>
