<!DOCTYPE html>

<style>

    body {
        background-color: rgb(12,75,51);
    }

    h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;}

    p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
        color: white;
}

a {
  color: aquamarine;
}

</style>


<html>
    <head>
        <title>Muito obrigado pelo seu comentario!</title>
    </head>

    <body>
        <h1>Muito obrigado pelo seu comentario!</h1>
       <p> Cilque <a href=".." style="text-decoration:none"> aqui</a> para voltar.</p>
    </body>

</html>
